
$primary-color: rgb(78, 15, 78);
$secondary-color: rgb(139, 139, 247);

$input-border-width: 2px;
$input-border-style: solid;

$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: #333;
$input-border-radius: 1rem;
$input-hover-outline-with: 2px;
$input-hover-outline-color: rgb(12, 12, 142);